@import "./normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*:not(ymaps) {
    font-family: "Roboto", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    line-height: 1.25;
    font-style: normal;
    font-weight: normal;
    color: #212121;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    resize: none;
}

html,
body {
    width: 100%;
    height: 100%;
    /* position: relative; */
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



#map {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: white;
}

#map [class*="ymaps-"][class*="-ground-pane"] {
    -webkit-filter: grayscale(100%) brightness(100%) !important;
    filter: grayscale(100%) brightness(100%) !important;
}

[class*="ymaps-"][class*="-balloon__content"] {
    position: relative !important;
    padding: 0 !important;
    margin: 0 !important;
}

[class*="ymaps-"][class*="-balloon__close-button"] {
    position: absolute !important;
    padding: 0 !important;
    margin: 24px 20px 0 0 !important;
    top: 0% !important;
    right: 0% !important;
    width: 22.4px !important;
    height: 22.4px !important;
    background: url("/2021-02-13-js-geootzyv/images/close.svg") center center / 125% no-repeat !important;
    opacity: 1 !important;
}

[class*="ymaps-"][class*="-balloon__close-button"]:hover {
    -webkit-filter: brightness(80%) !important;
    filter: brightness(80%) !important;
}

#map [id*="id_"] {
    width: 360px !important;
    height: auto !important;
}

#map *::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
    background-color: white !important;
}

#map *::-webkit-scrollbar-thumb {
    background-clip: border-box !important;
    background-color: #BDBDBD !important;
    border-radius: 5px !important;
}

#map *::-webkit-scrollbar-thumb:hover {
    background-color: #757575 !important;
}



.balloon {
    z-index: 100;
    width: auto;
    padding: 24px 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    background-color: #FFFFFF;
}

.feedbacks {
    width: 90%;
    height: auto;
    max-height: 100px;
    overflow: auto;
}

.fb {
    margin-bottom: 20px;
}

.fb:last-child {
    margin-bottom: 0;
}

.fb span {
    font-size: 14px;
    margin-right: 5px;
}

.fb span.remove {
    cursor: help;
    color: #536DFE;
}

.fb span.remove:hover {
    color: #E64A19;
}

.fb span:last-of-type {
    margin-right: 0;
}

.fb div {
    margin-top: 5px;
}

.fb *:not([class="name"]) {
    color: #757575;
}

hr {
    width: 100%;
    height: 1px;
    background-color: #BDBDBD;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-weight: bold;
    font-size: 18px;
    margin: 0 0 20px 0;
}

input,
textarea {
    width: 100%;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    padding: 12px;
    margin-bottom: 10px;
    font-size: 14px;
}

input:focus,
textarea:focus {
    border: 1px solid #536DFE;
}

button {
    background-color: #FF5722;
    border-radius: 3px;
    padding: 12px 20px;
    margin-top: 10px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover {
    background-color: #E64A19;
}

.balloon__otzyv {
    height: 98px;
}

.balloon__remove {
    transition: background-color .3s, box-shadow .3s;
    background-color: #536DFE;
    box-shadow: 0px 0px 100px 100px rgba(255, 255, 255, .8);
    margin-top: 0;
    z-index: 1000;
    position: absolute;
    top: 5%;
    right: 5%;
}

.balloon__remove:hover {
    transition: background-color .3s, box-shadow .3s;
    background-color: #303F9F;
    box-shadow: 0px 0px 100px 100px rgba(255, 255, 255, .5);
}